.burgerButton {
    @apply relative z-10 inline-flex items-center justify-center w-11 h-11 p-0 rounded-lg transition-colors duration-300 lg:hidden;
}

.burgerButton:hover {
    @apply bg-gray-80;
}

.burgerButton.isActive .line {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

.burgerButton.isActive .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.burgerButton:not(.isActive) .line3 {
    stroke-dasharray: 30 207;
    stroke-dashoffset: -30;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.line2 {
    stroke-dasharray: 60 60;
}